<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
        href="https://bootswatch.com/4/pulse/bootstrap.css"
        rel="stylesheet">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%for type, msg in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{type}}">{{msg}}</div>
        {% endfor %}
        <div class="container">
            <h1 class="d-inline mr-3"><a href="/">Adoptly</a></h1>
            <span><a href="/petfinder">Petfinder Pets</a></span>
            <hr>
            <div class="row">
                <div class="col-8 mx-auto">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>