{% from "macros.html" import pet_image, badge %}
{% extends 'base.html' %}

{% block title %}Pets{% endblock %}
{% block content %}
<h1 class="text-center">Our Pets</h1>
<div class="row">
    <div class="col">
        <a href="/add" class="btn btn-primary float-right">Add a Pet</a>
    </div>
</div>

{% for pet in pets %}
<div class="row p-4">
    <div class="col">
        {% if pet.photo_file %}
        {{ pet_image("/static/" + pet.photo_file, pet.name) }}
        {% else %}
        {{ pet_image(pet.photo_url, pet.name) }}
        {% endif %}
    </div>
    <div class="col">
        <h3>{{pet.name}}</h3>
        {% if pet.available %}
            {{ badge("available", "primary")}}
        {% else %}
            {{ badge("not available", "secondary")}}
        {% endif %}
        {{ badge(pet.age, "info")}}
        {{ badge(pet.species, "success")}}
        <div class="mb-3">{{pet.notes}}</div>
        <a href="/{{pet.id}}" class="btn btn-outline-primary">See Profile</a>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}